@(message: String)

@main("Welcome to Play") {
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/login.css")">


	<div id="wrapper">
		<div id="box">
			<div id="top_header">
				<h3>URL Shortener</h3>
				<h5>
					Enter your email to log in
				</h5>
			</div>
			<div id="inputs">
				<form action="/login" method="post">
					<input type="email" ref="email" placeholder="Email" name="email">
					<input type="submit" value="Login">
				</form>
			</div>
		</div>
	</div>

}
