@(message: String)

@main("Welcome to Play") {


	<div id="wrapper">
		<div id="box">
			<div id="top_header">
				<h3>URL Shortener</h3>
				<h5>
					Enter your email to log in
				</h5>
			</div>
			<div id="inputs">
				<form action="/login" method="post">
					<input type="email" ref="email" placeholder="Email" name="email">
					<input type="submit" value="Login">
				</form>
			</div>
		</div>
	</div>

	<style>
			body {
				width: 100%;
				height: 100%;
				margin: 0 auto;
				background-color: #f7f7f7;
				margin-top: 50px;
			}

			input {
				outline: none;
			}

			#wrapper {
				width: 100%;
				height: 100%;
				margin: 0 auto;
			}

			#box {
				width: 345px;
				height: 450px;
				background-color: #fff;
				margin: 0 auto;
				-webkit-border-radius: 4px;
				-o-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 3px;
				border: thin solid #ededed;
			}

			#top_header {
				width: 100%;
				margin: 0;
				padding-top: 45px;
			}

			#top_header > h3 {
				text-align: center;
				font-family: 'Lato', sans-serif;
				font-size: 32px;
				font-weight: 800;
				color: #282828;
				-webkit-text-stroke: 0.5px;
				margin: 0;

			}

			#top_header > h5 {
				text-align: center;
				font-family: 'Roboto', sans-serif;
				font-size: 15px;
				font-weight: 300;
				color: #424242;
				line-height: 1.6;
				margin: 0;
				padding: 15px 0;
				color: #a6a6a6;
				-webkit-text-stroke: 0.2px;
			}

			#inputs {
				width: 100%;
				height: 100%;
				margin: 0 auto;
				position: relative;
			}

			input[type=text], input[type=email], input[type=password], input[type=submit] {
				width: 300px;
				height: 55px;
				position: relative;
				margin: 0 auto;
				display: block;
				margin-bottom: 10px;
				padding: 15px;
				box-sizing: border-box;
				-webkit-text-stroke: 0.1px;
			}

			input[type=text], input[type=email], input[type=password] {
				font-family: 'Lato', sans-serif;
				font-weight: 300;
				border: thin solid #efefef;
				color: #4f4f4f;
			}

			input[type=text]:focus, input[type=password]:focus {
				border: thin solid #ededed;
				-webkit-transition: all .4s ease;
				-moz-transition: all .4s ease;
				-o-transition: all .4s ease;
				transition: all .4s ease;
			}

			input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
				border-left: thin solid #282828;
			}


			input[type=submit] {
				color: #282828;
				background-color: #fff;
				border: 1px solid #282828;
				border-radius: 2px;
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				transition: all .2s ease;
				margin-top: 15px;
				cursor: pointer;
			}

			input[type=submit]:hover {
				background-color: #282828;
				color: #fff;
			}

			#bottom {
				width: 300px;
				margin: 0 auto;
				padding: 27px 0;
			}

			a {
				text-decoration: none;
				color: #282828;
				font-size: 13px;
				font-family: 'Roboto', sans-serif;
				font-weight: 300;
				transition: color .3s ease;
				outline: none;
			}

			a:hover {
				color: #222222;
			}

			.right_a {
				float: right;
			}
	</style>
}
